h3 {
  color: rgb(11, 159, 223);
}
h2,
h4 {
  color: rgb(30, 127, 168);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid rgba(30, 127, 168);
}
.col-6 {
  font-weight: 200;
}
.container {
  font-family: "Montserrat", sans-serif;
  color: rgb(74, 69, 69);
}
.card {
  border-color: rgb(11, 159, 223);
}
.me-2 {
  width: 35%;
  border-radius: 20px;
}
.btn-outline-success {
  color: whitesmoke;
  background-color: rgb(255, 106, 0);
  border-color: rgb(255, 106, 0);
  border-radius: 20px;
  width: 6em;
}
.col-3 {
  font-style: italic;
  font-weight: bolder;
  font-size: 15pt;
}
.feels-like {
  font-weight: normal;
}
.today,
.what,
.time,
.city {
  color: rgb(30, 127, 168);
  font-size: 20pt;
}
.city {
  font-weight: bolder;
}
.currentLocation {
  color: whitesmoke;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 15px;
  width: 7em;
  margin-top: 7pt;
}
.currentLocation:hover {
  color: whitesmoke;
  background-color: rgb(30, 127, 168);
  border-color: rgb(30, 127, 168);
  transition: 0.7ms;
}
